<div class="page">

  <div class="header">
    <button class="btn-back" routerLink="/">←</button>

    <div>
      <h1 class="titulo">Bienvenido al Menú de Panchito</h1>
      <p class="subtitulo">Gestioná los panchos registrados</p>
    </div>
  </div>

  <div class="contenido">
    <div class="menu">
      <h2 class="panel-titulo">🌭 Panchitos Registrados</h2>
    </div>

    <input
      class="search-input"
      type="text"
      placeholder="Buscar panchito..."
      [(ngModel)]="buscarPancho"
    />
  </div>

  <div class="lista-panchos">

    <div class="fila-encabezado">
      <div>Nombre</div>
      <div>Ingredientes</div>
      <div>Tamaño</div>
      <div class="txt-accion">Acción</div>
    </div>

    <div
      *ngFor="let pancho of panchosFiltrados" class="fila">
      <div>{{ pancho.nombre }}</div>
      <div>{{ pancho.ingredientes }}</div>
      <div>{{ pancho.tamanio }}</div>

      <div class="acciones">
        <button
          class="btn-editar"[routerLink]="['/editar', pancho.panchoId]">✏️ Editar</button>
        <button class="btn-eliminar" (click)="abrirConfirmacion(pancho.panchoId, pancho.nombre)">🗑 Eliminar </button>
      </div>
    </div>
  </div>

</div>

<div class="modal-overlay" *ngIf="mostrarAlertaDelete">
  <div class="modal-card">
    <img src="/assets/pancho.png" alt="Advertencia" class="modal-img"/>

    <h2>¿Estás realmente seguro de eliminar el pancho"{{ panchoSeleccionadoNombre }}"?</h2>
    <p>Esta acción quitará el panchito del sistema de inmediato.</p>

    <div class="modal-actions">
      <button class="btn-confirmar-modal" (click)="confirmarEliminar()"> Sí, estoy seguro</button>

      <button class="btn-cancelar-modal" (click)="cerrarAlerta()"> No, me arrepiento </button>
    </div>
  </div>
</div>

<div class="toast-exito" *ngIf="mostrarToast">
  ✅ Se ha eliminado el panchito "{{ nombreEliminado }}" de tu menú.
</div>